// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

/**
    Front
 */

.section-top-search {
    background: #f4f4f4;
    padding: 2rem 0;
}

#section-main-search {
    background: #999;
    min-height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;

    form {
        background: rgba(255, 255, 255, 0.7);
        padding: .6rem;
        border-radius: 10px;
        border: 1px solid rgba(68, 68, 68, 0.4);
        display: flex;

        @media screen and (max-width: 768px) {
            flex-direction: column;
            width: 100%;
            margin: 2rem;
        }

        input, select {
            background: #fff;
            border: 1px solid transparent;
            padding: .6rem;
            margin: 0 .2rem;
        }

        button, .button {
            padding: .6rem;
            border: 1px solid transparent;
        }

        button[type=submit] {
            background: $green;
            color: #fff;
            padding: .6rem 2rem;
            transition: .4s ease all;

            &:hover {
                transition: .4s ease all;
                background: darken($green, 10);
            }
        }
    }
}

.section {
    padding: 2rem 0;

}

.offer-preview {
    margin: 1rem 0;
}

footer {
    background: #2a2a2a;
    color: #fff;
    padding: 2rem 0;

    .footer-title {
        font-size: 1.2rem;
    }

    ul {
        margin: 0;
        padding: 0;

        li {
            list-style-type: none;

            a {
                color: #fff;
                font-size: .9rem;
                
                &:hover {
                    color: #fff;
                }
            }
        }
    }
}

/**
    Admin
 */

.sidebar {
    background: $indigo;
    padding: 0;
    min-height: 87vh;

    ul {
        margin: 0;
        padding: 0;

        li {
            list-style-type: none;

            a {
                color: #fff;
                width: 100%;
                display: block;
                padding: 1rem;

                &.active {
                    color: #000;
                    background: #fff;
                    border-right: 6px solid $orange;
                }
            }
        }
    }
}

.img-upload {
    .img-preview {
        position: relative;

        .remove {
            position: absolute;
            top: 0;
            right: 0;
            background: #ddd;
            color: #f00;
            padding: 1rem;
            cursor: pointer;
        }
    }
}
