// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// admin
.sidebar {
    background: $indigo;
    padding: 0;
    min-height: 87vh;

    ul {
        margin: 0;
        padding: 0;

        li {
            list-style-type: none;

            a {
                color: #fff;
                width: 100%;
                display: block;
                padding: 1rem;

                &.active {
                    color: #000;
                    background: #fff;
                    border-right: 6px solid $orange;
                }
            }
        }
    }
}

.img-upload {
    .img-preview {
        position: relative;

        .remove {
            position: absolute;
            top: 0;
            right: 0;
            background: #ddd;
            color: #f00;
            padding: 1rem;
            cursor: pointer;
        }
    }
}
